.animation {
    animation-duration: .4s;
    -webkit-animation-duration: .4s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
}
/*Slide effect*/
.slideOut{
    -webkit-animation-name: slideOut;
}

@-webkit-keyframes slideOut{
    from{
        -webkit-transform: translate3d(0,0,0);
    }
    to{
        -webkit-transform: translate3d(-100%,0,0);
    }
}

@keyframes slideOut{
    from{
        -webkit-transform: translate3d(0,0,0);
    }
    to{
        -webkit-transform: translate3d(-100%,0,0);
    }
}

.slideIn{
    -webkit-animation-name: slideIn;
}

@-webkit-keyframes slideIn{
    from{
        -webkit-transform: translate3d(100%,0,0);
    }
    to{
        -webkit-transform: translate3d(0,0,0);
    }
}

@keyframes slideIn{
    from{
        -webkit-transform: translate3d(100%,0,0);
    }
    to{
        -webkit-transform: translate3d(0,0,0);
    }
}

/*reverse slide*/
.slideOutR{
    -webkit-animation-name: slideOutR;
}

@-webkit-keyframes slideOutR{
    from{
        -webkit-transform: translate3d(-100%,0,0);
    }
    to{
        -webkit-transform: translate3d(0,0,0);
    }
}

@keyframes slideOutR{
    from{
        -webkit-transform: translate3d(-100%,0,0);
    }
    to{
        -webkit-transform: translate3d(0,0,0);
    }
}

.slideInR{
    -webkit-animation-name: slideInR;
}

@-webkit-keyframes slideInR{
    from{
        -webkit-transform: translate3d(0,0,0);
    }
    to{
        -webkit-transform: translate3d(100%,0,0);
    }
}

@keyframes slideInR{
    from{
        -webkit-transform: translate3d(0,0,0);
    }
    to{
        -webkit-transform: translate3d(100%,0,0);
    }
}