nav{
  background-color: white;
}

.body{
  opacity:0;
}

h6{
  font-size: 1.2em;
  font-weight:bold;
}

form p{
  font-size: 8pt;
  color:gray;
  text-align:center;
  
}

.ignore{
  opacity: 1.0;
}
.brand-logo img{
  margin-top: 5%;
  width: 78px;
}

.btn{
  background-color:#0071BD;
}

.first div{
  margin: 10 0px;
}

.btn.orang{
  background-color: rgb(167, 119, 15);
}

.btn:hover{
  background-color:rgb(1, 128, 212);
}

.mapControls{
  margin: 2%;
}

.map-salvaje{
  height:100px;
  width: 100%;
}

body{
  background-image: url(../img/vector.png);
  background-repeat: repeat;
  background-size: 60%, 60%;
  background-position-x: 5px;
  background-color: #0071BD;
}

body#conductor{
  background-color: #e86666;
}

body#config{
  background-color: #afafaf;
}

.flashbang{
  opacity: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: white;
  z-index: 999999;
}

h5{
  background-color: white;
  margin: 0 0 0 0;
  padding: 2%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-weight: bolder;
}

.vform{ 
  margin: 1rem 0.50rem !important;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#info{
  margin-bottom: 25%;
}

p.formlabels{
  font-size: 8pt;
  color: #9e9e9e;
  margin-bottom: 0 !important;
}

.medium{
  font-size:4em !important;
}

.photobox{
  width: 75px;
  height: 75px;
  background-color: white;
  opacity: 0.80;
  max-width: 100%;
  display: inline-block;
  position:relative;
  border-radius: 10px;
  margin-bottom: 1rem;
  background-size:cover;
}

.photobox a{
  position:absolute;
  font-size:10px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0px;
  right: 0;
  left: 0;
  color: white;
  border-radius: 0 0 10px 10px;
}

.pic{
  text-align:center !important;
  color: #9e9e9e;
}

form{
  background-color: rgba(255, 255, 255, 0.95);
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  padding: 5% 10% !important;
}

vform .form_footer{
  background-color: rgb(204, 204, 204);
}

.logo{
  background-color: white;
  border-radius: 10px;
  padding: 2.5% 10%;
  margin-top:50%;
  /* opacity:0; */
}

.unipic{
  height:250px;
  position:relative;
  margin: 0.5em 0;
  background-image: url("../img/urbe.jpg");
  background-size: cover;
}

.unipic a{
  position:absolute;
  bottom:0;
  right:0;
  text-align:center;
  background-color:white;
  width: 100%;
}


#slide-out li{
  background-color:white;
}

.foot-logo{
  position:absolute;
  bottom:0;
}

.page-footer .row{
  margin: 0;
}

.page-footer{
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: white;
  padding: 0;
}

.panelServiceInfo{
  margin: 1em 0;
  height: 100%;
  background-color: white;
  padding: 0.5em;
}

.panelServiceInfo > div > img {
  width: 210px;
  display: block;
  padding-top: 5px;
  padding-bottom: 5px; 
}


.imgParent{
  overflow: hidden;
}

.turno{
  color:white;
  text-align:center;
  display: inline-block;
  margin: 0.5em 0;
}

nav .turno i{
  height: initial; 
  line-height: initial;
}

.turno i{
  font-size: 1.5em;
  display: inline-block;
  background-color: #0071BD;
  padding: 5px;
}

.scrollable{
  overflow-y: scroll;
  margin-bottom: 10%;
  background-color:white;
}

.disabled{
  opacity: 0.5;
}

.filtro{
  font-weight: bolder;
  color: black;
  line-height: initial;
  margin: 1em 0;
}

.infoSection .row{
  margin: 0.2em 0;
}

.infoSection .row .subtitle{
  font-weight:bold;
}

/* TABS */
.tabs .tab a{
  color: gray;
  font-weight: bold;
  line-height: 1;
}

.tabs .tab a:hover, .tabs .tab a.active{
  color: black;
}

.tabs .indicator{
  height: 3px;
  background-color: #0071BD;
}

.title{
  width: 100%;
  color: black;
  background-color: white;
  font-weight: bold;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.navbar-fixed.services{
  position: fixed;
  top: 0;
}

nav.navserv{
  height: unset;
  
}

.hidden{
  display: none;
  opacity: 0;
}



.fadeIn{
  animation-name: fadein;
  animation-duration: 0.5s;
  
}

.switch label input[type=checkbox]:checked+.lever:after {
  background-color: rgb(0, 85, 141);
}

.switch label input[type=checkbox]:checked+.lever {
  background-color: #0071BD;
}


.collapsible-body{
  background-color:white;
}

.user-view{
  height:20vh;
  background-color: #e86666;
}

.user-view img {
  margin-top: 1em;
  height: 10vh;
  width: auto;
}

.user-meta{
  text-align: center;
  font-size: 10pt;
  font-weight: 400;
  line-height: initial;
  color: white;
}

.user-view .user-name{
  margin: 1.1em 0;
  line-height: initial;
  font-weight: bolder;
  font-size: 12pt;
}

.user-pic{
  border-radius: 10px;
}

.collapsible-body .row{
  margin:0;
}

#cardtitle{
  background: #000000b3;  
  padding: 12px;
  font-size: 15px;
}

.card-content{
  padding: 15px !important;
}

#payments.scrollable{
  margin-top:0;
  background-color: unset;
}

.fixed-action-btn {
  position: fixed;
  right: 23px;
  bottom: 10vh;
  padding-top: 15px;
  margin-bottom: 0;
  z-index: 998;
}

.modal{
  width: 100%;
  height:100%;
  max-height:100%;
  top:0 !important;
}

.cropper-drag-box{
  width: initial !important;
  height: 30vh !important;
}

.cropped{
  height: 30vh !important;
}

.thumb.active{
  display:none !important;
}

h4.adjust{
  padding: 1em;
}

.notification-block{
  background-color: rgba(128, 128, 128, 0.38823529411764707);
  font-size: 16px !important;
  height: 60px;
  margin-top: 5px;
}

.btn-floating {
  background-color: #0071BD !important;
}