.title{
    width: 100%;
    font-weight: bold;           
}

.row{
    background: white;
}

.titlerow{
    margin-top: 10px;        
}

.valign-wrapper{
    height: 40px;
}

.container{
    margin: 0;
    width: 100%;
}

.container .row{
    margin-left: 0;
    margin-right: 0;
}

.PanelServiceInfo{
    margin-top: 20px;
    height: 100%;
    display: flex;
}

.PanelServiceInfo > div > img {
    height: 100%;
    width: 100%;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    
}

.collapsible-body{
    background-color:white;
}



.imgParent{
    margin-top: 10px;
    margin-bottom: 10px;
    border-right: 1.3px solid;
}

.nopadding{
    padding: 0 !important;
}

.subtitle{
    font-size: 0.8rem;
}

.info{
    font-weight: bold;
    font-size: 1rem;
}

.infoSection{
    margin-top: 10px;
    margin-bottom: 10px;
}

.infoSection .row{
    margin:0 !important;
}

.switch label input[type=checkbox]:checked+.lever:after{
    background-color: #ce2e2e;
}

.switch label input[type=checkbox]:checked+.lever{
    background-color: #ce2e2ea8;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/* TABS */
.tabs .tab a{
    color: gray;
    font-weight: bold;
    line-height: 1;
}

.tabs .tab a:hover, .tabs .tab a.active{
    color: black;
}

.tabs .indicator{
    height: 3px;
}
/* TABS */