nav{
  background-color: white;
  opacity:0;
}

.ignore{
  opacity: 1.0;
}
.brand-logo img{
  margin-top: 5%;
  width: 78px;
}

.options{
  margin-top: 15%;
}

.btn{
  background-color:#e86666;
  padding: 1em !important;
  font-weight: bolder !important;
  font-size: 1em !important;
  height: auto !important;
  margin:0.5em 0;
  opacity:0;
}

.btn i{
  font-size:2em;
}

.first div{
  margin: 10 0px;
}

.btn.orang{
  background-color: rgb(167, 119, 15);
}

.btn:hover{
  background-color:#e08181;
}

.mapControls{
  margin: 2%;
}

.map-salvaje{
  height:100px;
  width: 100%;
}

body{
  background-image: url(../img/vector.png);
  background-repeat: repeat;
  background-size: 60%, 60%;
  background-position-x: 5px;
  background-color: #0071BD;
}

.flashbang{
  opacity: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: white;
  z-index: 999999;
}

h5{
  background-color: white;
  margin: 0 0 0 0;
  padding: 2%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-weight: bolder;
}

.vform{ 
  margin: 1rem 0.50rem !important;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  opacity: 0;
}

p.formlabels{
  font-size: 8pt;
  color: #9e9e9e;
  margin-bottom: 0 !important;
}

.photobox{
  width: 75px;
  height: 75px;
  background-color: white;
  opacity: 0.80;
  max-width: 100%;
  display: inline-block;
  position:relative;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.photobox a{
  position:absolute;
  font-size:10px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0px;
  right: 0;
  left: 0;
  color: white;
  border-radius: 0 0 10px 10px;
}

.pic{
  text-align:center !important;
  color: #9e9e9e;
}

form{
  background-color: rgba(255, 255, 255, 0.95);
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  padding: 0 10% !important;
}

vform .form_footer{
  background-color: rgb(204, 204, 204);
}

.logo{
  background-color: white;
  border-radius: 10px;
  padding: 2.5% 10%;
  margin-top:50%;
  /* opacity:0; */
}

.flashbang{
  opacity: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: white;
  z-index: 999999;
}